body {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+");
  margin:0px;
}
#mapDiv {
  height:200px !important;
  width:100%;
  display:none;
}

#d3-map {
  height:100%;
  width:100%;
}

.land {
  fill: #444;
}

.counties {
  stroke:#333333;
  fill:#444444;
}

.world {
  stroke:#333;
  stroke-width:0.3;
  fill:#444;
}

#info-window {
  display: none;
  position: absolute;
  left: 25px;
  bottom: -6px;
  background: #333333;
  opacity: 0.8;
  color: #FFFFFF;
  padding: 14px;
  width: 400px;
  overflow: hidden;
}

.message {
  margin-bottom: 7px;
  border: 1px dotted #666;
  padding: 5px;
  padding-top:10px;
  padding-bottom:10px;
}

#legend {
  position: absolute;
  color: #FFF;
  bottom: 0px;
  width: 100%;
  height: 150px;
  background: #111;
  opacity: 0.8;
  color:#FEFEFE;
  line-height:30px;
}

#legend-inner {
  width:960px;
  margin:auto;
  margin-top:10px;
}

.legend-title {
  font-size:16pt;
  font-weight:bold;
}

#toolbar-left {
  float:left;
  width:530px;
  position:relative;
}

#toolbar-right {
  float:right;
  width:410px;
  position:relative;
}

#toolbar-right div {
  float: left;
  width: 100px;
  text-align: center;
  background: #333;
  border: 1px dotted #444;
  margin-right: 2px;
}

#wind-count .count {
  color:#f2eeb3;  
}

#hail-count .count {
  color:#ff974f;
}

#tornado-count .count {
  color:#FF0000;
}

#updated {
  background: #333;
  border: 1px dotted #444;
  padding: 3px;
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
  padding-bottom: 0px;
}

.title-main {
  font-size:22pt;
}

.count {
  font-size:25pt;
}

#comments {
  line-height:14px;
}

#type {
  line-height: 10px;
  margin-bottom: 14px;
}
